.login {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    color: #ECA400;
    background-color: #27476E;
    margin-top: 20em;
}

.login-form {
    font-family: 'Roboto', sans-serif;
}

.login-title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 7px;
    color: #ECA400;
}

.login-username,.login-password,.login-submit{
    width: 200px;
    background-color: #006992;
    color: #ECA400;
    
    border-style: none;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px;
}

.login-username::placeholder,.login-password::placeholder {
    color: #ECA400;
}

.login-username:focus,.login-password:focus {
    padding: none;
    margin: none;
    outline: none;
    border: 3px solid #ECA400;
}

.login-username:focus::placeholder,.login-password:focus::placeholder {
    display: none;
}

.login-submit {
    width: 100px;
    color: #ECA400;
    outline: none;
}

.login-submit:hover {
    width: 100px;
    color: #27476E;
    background-color: #ECA400;
    outline: none;
}

body {
    background-color: #001D4A;
}