.login {
    margin: auto;
    width: 50%;
    border: 15px solid #006992;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    color: white;
    background-color: #27476E;
    margin-top: 20em;
}

.login-form {
}

.login-username,.login-password {
    background-color: #006992;
    color: white;
    border-style: none;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 20px;
}



.login-title {
    text-align: center;
}

body {
    background-color: #001D4A;

}