.login {
    margin: auto;
    width: 400px;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    color: #ECA400;
    background-color: #27476E;
    margin-top: 15%;
}

.login-title a {
    cursor: pointer;
    font-weight: 1000;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 7px;
    color: #ECA400;
    margin-bottom: 20px;
    transition: 0.2s;
}
.login-title a:hover {
    color: #a77500;
}

.login-username,.login-password,.login-submit{
    width: 200px;
    background-color: #006992;
    color: #ECA400;
    border-style: none;
    padding: 13px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 10px;
}

.login-username::placeholder,.login-password::placeholder {
    color: #ECA400;
}

.login-username:hover::placeholder,.login-password:hover::placeholder {
    color: #a77500;
}

.login-username:focus,.login-password:focus {
    padding: none;
    margin: none;
    outline: none;
    border: 3px solid #ECA400;
    transition: 0.3s;
}

.login-username:focus::placeholder,.login-password:focus::placeholder {
    color: transparent;
}

.login-submit {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 13px;
    width: 100px;
    color: #ECA400;
    outline: none;
    font-weight: 1000;
    transition: 0.3s;
}

.login-submit:hover {
    width: 100px;
    color: #27476E;
    background-color: #ECA400;
    outline: none;
    cursor: pointer;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #27476E;
    color: #ECA400;
    text-align: center;
}

/** footer styling code by webdevtrick ( https://webdevtrick.com ) **/
body {
	margin: 0;
	padding: 0;
}
.main {
	max-height: 550px;;
	background-color: #292c2f;
	color: white;
	font-size: 38pt;
	text-align: center;
	line-height: 550px;
}
footer{
	position: fixed;
    bottom: 0;
    left: 0;
}
.footer-distributed{
	background-color: #27476E;
	box-sizing: border-box;
	width: 100%;
	text-align: left;

	padding: 20px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
    color:  #ECA400;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
	margin: 0;
}
 
.footer-distributed h3 span{
	color:  #001D4A;
}
 
 
.footer-distributed .footer-links{
	color:  #ECA400;
	margin: 20px 0 12px;
	padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #ECA400;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
 
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center i{
	background-color:  #ECA400;
	color: #001D4A;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ECA400;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #ECA400;
	text-decoration: none;;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #ECA400;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ECA400;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #ECA400;
	border-radius: 2px;
 
	font-size: 20px;
	color: #001D4A;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 
 
@media (max-width: 880px) {
 
	.footer-distributed{
		font: bold 14px sans-serif;
	
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}
 
}

body {
    background-color: #001D4A;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;

}

html {
    min-width: 400px
}